<h4>No se encontró la página solicitada | Error: 404</h4>


<br>

<ul>
    <li>
        <a routerLink="/auth/login">
            Ir a Login
        </a>
    </li>
    <li>
        <a routerLink="/auth/registro">
            Ir a Registro
        </a>
    </li>
</ul>
<br>
<hr>

<ul>
    <li>
        <a routerLink="/heroes/agregar">
            Ir a agregar heroe
        </a>
    </li>
    <li>
        <a routerLink="/heroes/buscar">
            Ir a buscar
        </a>
    </li>
    <li>
        <a routerLink="/heroes/listado">
            Ir a listado
        </a>
    </li>
</ul>


